# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Virtualenv
pip-wheel-metadata/

# Flask/instance
instance/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store
._*

# IDEs
.vscode/
.idea/

# Cache / misc
*.log
*.tmp
*.swp
